@{
    ViewData["Title"] = "SebastianCruz";
}

<div class="text-center">
    <h1 class="display-4">Hamburguesas</h1>
    <p><a href="https://localhost:7139/Burgers">Has tu hamburguesa aqui</a>.</p>
    <p><a href="https://localhost:7139/Promoes">Revisa las promociones</a>.</p>
        
</d
    iv>
