@{
    ViewData["Title"] = "SebastianCruz";
}

<div class="text-center">
    <h1 class="display-4">Hamburguesas</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Has tu hamburguesa aqui</a>.</p>
</div>
